# Python
*.pyc
__pycache__/
*~

# Fichiers Pytest
.pytest_cache

# Environment
.env

# Misc
.DS_Store
.idea/
.vscode/

Local files/

# Dockerfile
.dockerignore

# Environnements virtuels
.venv_frontend/
.venv_backend/

# Fichiers générés
backend/db/*
backend/logs/*