# Python
*.pyc
__pycache__/
__init__.py
*~

# Fichiers Pytest
.pytest_cache

# Environment
.env

# Misc
.DS_Store
.idea/
.vscode/

Local files/

# Dockerfile
.dockerignore

# Environnement virtuel
.venv/

# Fichiers générés
backend/db/*